
.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #25273C;
    min-width: 600px;
    min-height: 400px;
}

.todo-create {
    display: flex;
    align-items: center;
    width: 600px;
    height: 70px;
    margin-bottom: 50px;
}
.todo-create input {
    width: 80%;
    height: 100%;
    font-size: 36px;
    line-height: 59px;
    text-align: left;
    border: 4px solid rgba(255, 255, 255, 1);
    padding: 25px;
    background-color: #25273C;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  
}

.todo-create button {
    margin-top: 7px;
    height: 100%;
    width: 110px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: green;
    color: white;
    font-size: 20px;
}
/* 
.todo-create input {
    background-color: #25273C;
    width: 70%;
    height: 100%;
    padding: 25px;
    font-size: 36px;
    line-height: 59px;
    text-align: left;
} */

.todo-info {
    min-width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    justify-content: space-around;
    border: 2px solid #AD02FE;
    background-color: #25273C;
}
.todo-info div {
    cursor: pointer;
}



@media only screen and (max-width: 620px) {
    .todo-container,
    .todo-info {
        min-width: 60%;
    }

    .todo-create {
        width: 60%;
    }

}